{% extends "base.html" %}

{% block title %}Добавление книги{% endblock %}

{% block content %}
<h2>Добавление книги</h2>
<form action="/add_book" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Название:</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Автор:</label>
        <input type="text" class="form-control" id="author" name="author" required>
    </div>
    <div class="mb-3">
        <label for="genre" class="form-label">Жанр:</label>
        <input type="text" class="form-control" id="genre" name="genre" required>
    </div>
    <div class="mb-3">
        <label for="quantity" class="form-label">Количество экземпляров:</label>
        <input type="number" class="form-control" id="quantity" name="quantity" min="1" value="1" required>
    </div>
    <button type="submit" class="btn btn-primary">Добавить книгу</button>
</form>
{% endblock %}